.slider{
    height: 250px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    margin-top: 2%;
    background-color: white;
    /* padding-bottom:; */
}
.slider-track{
    display: flex;
    width: calc(250px * 20);
    /* width: 200%; */
    animation: scroll 40s linear infinite;
    margin-bottom: 40px;
}
.slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.slide img{
    width: 100%;
    transition: transform 1s;
}
.slide img:hover{
    transform: translateZ(20px);
}
.slider::before,
.slider::after{
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, 
    rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 20%;
    z-index: 2;
}
.slider::before{
    left: 0;
    right: 0;
}
.slider::after{
    right: 0;
    top:0;
    transform: rotateZ(180deg);
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 5));
    }
}